In [61]:
import networkx as nx
import pandas as pd
from matplotlib.pylab import plt
import numpy as np
import json
from networkx.readwrite import json_graph
 
G = nx.Graph()
 
# Read csv for nodes and edges using pandas:
countries = pd.read_csv("countries.csv")
tasters = pd.read_csv("tasters.csv")
varieties = pd.read_csv("varieties.csv")['name']

temp = pd.DataFrame(data = np.zeros(countries.shape[0]), columns = ['group'])
countries = pd.concat([countries, temp], axis = 1)

temp = pd.DataFrame(data = np.ones(tasters.shape[0]), columns = ['group'])
tasters = pd.concat([tasters, temp], axis = 1)

#temp = pd.DataFrame(data = np.ones(varieties.shape[0])+1, columns = ['group'])
#varieties = pd.concat([varieties, temp], axis = 1)

nodes = pd.concat([countries, tasters])
# Dataframe to list:
nodes_list = nodes.values.tolist()


taster_country = pd.read_csv("score_by_country_taster.csv")

edges_list = taster_country.values.tolist()
 
# Import id, name, and group into node of Networkx:
for i in nodes_list:
    G.add_node(i[0].strip(), group=i[1])
 
# Import source, target, and value into edges of Networkx:
for i in edges_list:
    G.add_edge(i[0].strip(), i[1].strip(), value=i[2])

j = json_graph.node_link_data(G)
 
js = json.dumps(j, ensure_ascii=True, indent=2)
with open("node-link-value.json", "w") as file:
     file.write(js)

In [62]:
countries

         name  group
0   Argentina    0.0
1   Armenia      0.0
2   Australia    0.0
3   Austria      0.0
4   Bosnia an    0.0
5   Brazil       0.0
6   Bulgaria     0.0
7   Canada       0.0
8   Chile        0.0
9   Croatia      0.0
10  Cyprus       0.0
11  Czech Rep    0.0
12  Egypt        0.0
13  England      0.0
14  France       0.0
15  Georgia      0.0
16  Germany      0.0
17  Greece       0.0
18  Hungary      0.0
19  India        0.0
20  Israel       0.0
21  Italy        0.0
22  Lebanon      0.0
23  Macedonia    0.0
24  Mexico       0.0
25  Moldova      0.0
26  Morocco      0.0
27  New Zeala    0.0
28  Peru         0.0
29  Portugal     0.0
30  Romania      0.0
31  Serbia       0.0
32  Slovenia     0.0
33  South Afr    0.0
34  Spain        0.0
35  Turkey       0.0
36  Ukraine      0.0
37  Uruguay      0.0
38  US           0.0